/******* GESTION PAGE *******/

#bloc_page /* Englobe la totalité de la page */
{
  width: 980px;
  font-family : 'Segoe UI',sans-serif;
}

body
{
  background-color: #AFAAB9;
  margin: auto;
  color: white;
  width: 980px;
  font-family : 'Segoe UI',sans-serif;
}

/*******  GESTION BANNIERE *******/
header
{
	display: flex;
	text-align: center;
	padding: auto;
  	width: 100%;
	border: 1px solid black;
	margin: auto;
}
.logo_site_size
{
	width: 150px;
}


#header
{

}


/******* GESTION DU CORPS DE PAGE *******/

section
{
	float: right;
	width: 88%;

}

section img
{
	margin-left: 5px;
	margin-right: 5px;
}

#img_position
{
	text-align: center;
}



/******* GESTION PIED DE PAGE  *******/

footer
{
	width: 88%;
	text-align: center;
}

footer a:hover
{
	color: black;
	background-color: #B9CFD4;
}

/******* GESTION DES ELEMENTS PRINCIPAUX  *******/

h1 h2
{
	text-transform: uppercase;
}

h1
{
  font-size: 2.0em;
}

h2
{
	font-size: 1.4em;
}

nav
{
	margin-top: 10px;
  	border: 1px solid black;
  	border-radius: 3px;
  	width: 10%;
	float: left;
}

nav a li
{
	list-style: none;
	border: 1px solid black;
	width: 100%;
	left: 0;
	color: white;
}

nav a li:hover
{
	background-color: #b9cfd4;
	color: black;
}

nav ul{
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

p
{
	font-size: 1.2em;
}

a
{
	text-decoration: none;
}

/******* à modifier *******/

#Definition
{
  background-color: #B48291;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  height: 400px;
}

#Example
{
  background-color: #B48291;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  height: 500px;
}

#active {
	background-color: #B48291;
}

.menu{
	padding-top: 2em;
	padding-bottom: 2em;
}